h1 { 
  color: lightgoldenrodyellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 48px;
  font-style: bold;
  text-align: center;
  color: pink;
}

body {
  background-color: rgb(128, 128, 240);
}